* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
body {
  background: var(--dark);
  color: var(--light);
  font-family: "Kanit", sans-serif;
}
button {
  cursor: pointer;
}

:root {
  --accent: #42d392;
  --dark: #1a1a1a;
  --dark2: #242424;
  --light: #e1e1e0;
  --accent2: #589dd8;
  --red: #c22525;
}

.bg-dark {
  background: var(--dark);
  color: var(--light);
}
.bg-dark2 {
  background: var(--dark2);
  color: var(--light);
}
.accent-color {
  color: var(--accent);
}
.red-bg {
  background: var(--red);
}
.accent-bg {
  background: var(--accent);
}
.light-bg {
  background: var(--light);
}
.light-color {
  color: var(--light);
}
.dark-color {
  color: var(--dark);
}
.dark2-color{
  color: var(--dark2);
}
.accent-btn {
  background: linear-gradient(45deg, var(--accent), var(--accent2));
  transition: 0.2s ease-in-out;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.accent-btn:hover {
  opacity: 0.8;
}

::-webkit-scrollbar {
  background: var(--dark2);
  width: 0.3rem;
}
::-webkit-scrollbar-thumb {
  background: var(--accent);
}

a {
  text-decoration: none;
  color: var(--light);
  font-size: 1rem;
}

.container {
  padding: 1rem 7%;
}

li{
  margin-left: 1.2rem;
}